[submodule "puppet/environments/dev/modules/stdlib"]
	path = puppet/environments/dev/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/environments/dev/modules/epel"]
	path = puppet/environments/dev/modules/epel
	url = http://github.com/stahnma/puppet-module-epel
[submodule "puppet/environments/dev/modules/graphite"]
	path = puppet/environments/dev/modules/graphite
	url = https://github.com/echocat/puppet-graphite
[submodule "puppet/environments/dev/modules/concat"]
	path = puppet/environments/dev/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "puppet/environments/dev/modules/apache"]
	path = puppet/environments/dev/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "puppet/environments/dev/modules/firewalld"]
	path = puppet/environments/dev/modules/firewalld
	url = https://github.com/jpopelka/puppet-firewalld
